.wrapper {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  position: relative;
}

.container {
  display: flex;
  justify-content: center;
  height: 90vh;
  width: 70%;
  margin: 0 auto;
  flex-direction: column;
}

.desc_text {
  font-family: "Syncopate", sans-serif;
  color: #764e23;
  letter-spacing: 0.3vw;
  line-height: 1.2;
  font-size: 2vw;
  font-weight: 700;
  margin-bottom: 5px;
}
